.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .header {
  }
  .main {
    flex-grow: 1;
    .content {
      font-size: 1.5rem;
      display: flex;
      justify-content: center;
      margin: 3rem 0 0 0;
      &__wrapeer {
        min-width: 900px;
      }
    }
  }
  .footer {
  }
}
